
/* 
	CSS for Refactored Routines 03/09/2017
*/

.next2each
{
    display: inline-block;
    margin-right: 1%;
}
.sign
{
    width: 60px;
    height: 40px;
    display: block;
    font-size: 200%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-bottom: 20%;
    padding-left: 20%;
}

.redBack
{
	background-color: red;
}


.num {

    width: 60px;
    height: 60px;
    display: block;
    font-size: 200%;
    padding-left: 20%;
}


.rounded
{
	border-radius: 5px;
    color: black;
}

.addColor{
    background-color: lightgreen;
}

.remColor {
    background-color: pink;
}

.padMe {
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.margTop {
    margin-top: 1%;
    background-color: #F7F1EF;
    border-radius: 1em;
    padding-top: 1em;
}

#numLabel {
	margin-top: 2%;
	font-size: 150%;
	color: orange;
}

.toggle {
	font-weight: bold;
	font-size: 100%;
	text-transform: capitalize;
	color: red;
}

.mathsblurb {
  background-color: #414141;
}

#persbenefits
{
    color: white;
}

.lovenergy {
    font-size: 1em;
    color: pink;
    padding-top: 40px;
    margin-bottom: 20px;  
}

#ramanujanPi {
    margin-bottom: 30px;
}

.centreMe {
    text-align: center;
}

.red{
    color: red;
    padding-bottom: 30px;
}

#vedicmaths {
    padding: 0px;
}